body {
    margin: 0;
    font-family: Helvetica;
    background-color: rgb(0, 43, 68);
}

nav.nav-head {
    background-color: rgb(28, 75, 97);
    align-items: center;
    justify-content: center;
    display: flex;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.nav-logo {
    width: 150px;
    height: 50px;
    background-size: cover;
    margin-top: 5px;
    margin-bottom: 5px;
}

.login-container table .th-main {
    width: 100vw;
}

.login-container table .th-not-main {
    width: 25vw;
}

.login-form {
    display: block;
    text-align: left;
    position: relative;
    color: white;
    letter-spacing: 3px;
    font-size: 20px;
    width: 30vw;
    margin-left: 23vw;
}

.login-form p img {
    margin-right: 20px;
}

.login-form .input-text {
    width: 100%;
    padding: 5px 20px;
    font-size: large;
    margin: 0px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    transition: 0.2s;
}

.input-password {
    width: 100%;
    padding: 5px 20px;
    font-size: large;
    margin: 0px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    transition: 0.2s;
    -webkit-text-security: square;
}

.login-form input:hover {
    background-color: rgb(161, 228, 255);
}

.btn {
    margin-top: 50px;
}

.btn .submit-btn {
    background-color: rgb(51, 211, 78);
    padding: 10px;
    border: white;
    border-radius: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    transition: 0.2s;
    width: 20%;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: large;
}

.btn .submit-btn:hover {
    background-color: rgb(22, 136, 41);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.9);
    transform: translateY(4px);
}

.btn .submit-btn:active {
    background-color: rgb(22, 136, 41);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.9);
    transform: translateY(4px);
}

.btn .forget-btn {
    background-color: rgb(241, 109, 86);
    padding: 10px;
    border: white;
    border-radius: 20px;
    transition: 0.2s;
    width: 20%;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: large;
}

.btn .forget-btn:hover {
    background-color: rgb(211, 67, 41);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.9);
    transform: translateY(4px);
}

.btn .forget-btn:active {
    background-color: rgb(211, 67, 41);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.9);
    transform: translateY(4px);
}

@media screen and (max-width: 800px) {
    .login-form {
        display: block;
        text-align: left;
        position: relative;
        color: white;
        letter-spacing: 3px;
        font-size: 20px;
        width: 60vw;
        margin-left: 10vw;
    }
    .btn .submit-btn {
        background-color: rgb(51, 211, 78);
        padding: 10px;
        border: white;
        border-radius: 20px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        transition: 0.2s;
        width: 35%;
        font-weight: bold;
        color: rgb(255, 255, 255);
        font-size: large;
    }
    .btn .submit-btn:hover {
        background-color: rgb(22, 136, 41);
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.9);
        transform: translateY(4px);
    }
    .btn .submit-btn:active {
        background-color: rgb(22, 136, 41);
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.9);
        transform: translateY(4px);
    }
    .btn .forget-btn {
        background-color: rgb(241, 109, 86);
        padding: 10px;
        border: white;
        border-radius: 20px;
        transition: 0.2s;
        width: 40%;
        font-weight: bold;
        color: rgb(255, 255, 255);
        font-size: large;
    }
    .btn .forget-btn:hover {
        background-color: rgb(211, 67, 41);
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.9);
        transform: translateY(4px);
    }
    .btn .forget-btn:active {
        background-color: rgb(211, 67, 41);
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.9);
        transform: translateY(4px);
    }
}


/* collapsible */

.collapsible {
    margin-top: 100px;
    background-color: rgb(28, 75, 97);
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: bolder;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 20px;
    transition: 0.2s;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.active,
.collapsible:hover {
    background-color: rgb(245, 191, 42);
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}